.upload-form-container {
  max-width: 500px;
  margin: auto;
  padding: 1.5rem;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.upload-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.cancel-text {
  color: #555;
  font-weight: bold;
  cursor: pointer;
}

.upload-title {
  color: rgb(5, 49, 5);
  font-size: 1.5rem;
  margin: 0;
}

.upload-form {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  color: #333;
}

.activity-select {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1.5px solid #ccc;
  border-radius: 8px;
}

.upload-box {
  width: 100%;
  max-width: 500px;
  height: 250px;
  border: 2px dashed rgb(253, 128, 10);
  border-radius: 15px;
  background-color: #fdfdfd;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative;
  transition: border-color 0.3s ease;
  text-align: center;
}

.upload-box:hover {
  border-color: rgb(5, 49, 5);
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  font-size: 60px;
  color: rgb(5, 49, 5);
  margin-bottom: 0.5rem;
}

.plus-icon:hover {
  color: rgb(253, 128, 10);
}

.upload-text {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.upload-preview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.description-input {
  min-height: 80px;
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  resize: vertical;
}

.submit-button {
  margin-top: 1.8rem;
  padding: 0.8rem;
  background-color: rgb(5, 49, 5);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.submit-button:hover {
  background-color: rgb(253, 128, 10);
}
